[submodule "Vendor/SDL"]
	path = Vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Vendor/vkboostrap"]
	path = Vendor/vkboostrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "Vendor/VulkanMemoryAllocator"]
	path = Vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vendor/boop"]
	path = Vendor/boop
	url = https://github.com/MokaHiko/Boop.git
[submodule "Vendor/entt"]
	path = Vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule ".\\Vendor\\imgui"]
	path = .\\Vendor\\imgui
	url = https://github.com/ocornut/imgui.git
